{% extends 'goal/base.html' %}
{% block content %}
    <h2>This is your goal</h2>
    <div>
        {{ goal.name }} of {{ goal.year }}
    </div><br />

    <form method="post" action="{% url 'goal:log' goal.id %}">
        {% csrf_token %}
        <label>What you did to reach your goal today? Any other thoughts?</label> <br />
        <textarea name="log"></textarea> <br />
        <label>How many hours did you work on yout goal today?</label> <br />
        <input type="text" name="hours_worked" /> <br />
        <input type="submit" value="Log entry" />
    </form>
{% endblock %}
